a {
	transition: 0.2s linear all;
}

.sans-serif {
	font-family: $body-font-family;
	font-style: normal;
}

.jumbo {
	text-transform: uppercase;
	@include breakpoint(large) {
		font-size: 4rem;
		max-width: 100%;
		line-height: 1.1;
	}
}

.yellow {
	background-color: $yellow;
	color: $oil;
	display: inline-block;
}