.content {
	padding: 2rem 0;
	strong {
		background-color: $yellow;
	}
	p, li, .callout {
		max-width: 35rem;
		margin-left: auto;
		margin-right: auto;
	}

	.callout {
		background-color: $smoke;
		.button {
			margin-bottom: 0;
			font-weight: $global-weight-bold;
		}
	}

	h2, h3, h4 {
		text-align: center;
	}
	h2 {
		margin-bottom: 2rem;
	}
	.image {
		margin-bottom: 2rem;
		text-align: center;
		img {
			padding: rem-calc(5);
			border: 3px solid $smoke;
		}
	}
}

.article h2 {
	margin-bottom: 1rem;
}

.toc {
	@extend .content;
	background: linear-gradient(to left, rgba($oil, 0.85) 10%, rgba($oil, 0.85) 90%), url('/assets/img/audience.jpg') no-repeat center fixed;
	background-size: cover;
	h2 {
		color: $white;
	}
	ul.days {
		li {
			background-color: $white;
			border-bottom: 1px solid $light-gray;
			&:last-child {
				border-bottom: none;
			};
			padding: rem-calc(10);
			span {
				font-family: $body-font-serif;
				font-weight: $global-weight-bold;
			}
			@include breakpoint(large) {
				font-size: 1.5rem;
				padding: 1rem;
			}
			&.active {
				background-color: $blue;
				color: $white;
			}
			&.passive {
				background-color: $smoke;
			}
		}
		margin-bottom: 0;
	}
}

.gray {
	@extend .content;
	background-color: $smoke;
}