.content {
	padding: 2rem 0;
	strong {
		background-color: $yellow;
	}
	p, li {
		max-width: 35rem;
		margin-left: auto;
		margin-right: auto;
	}

	h2, h3, h4 {
		text-align: center;
	}
}

.gray {
	@extends .content;
	background-color: $smoke;
}