.hero {
	padding: 3rem 0;
	background: linear-gradient(to left, rgba($blue, 0.85) 10%, rgba($blue, 0.85) 90%), url('/assets/img/audience.jpg') no-repeat center fixed;
	background-size: cover;
	text-align: center;
	color: $white;
	h2.subheader, h3.subheader {
		font-family: $body-font-serif;
		font-style: italic;
		margin-bottom: 2rem;
		color: $white;
	}
	h3.subheader {
		margin-bottom: 0;
		font-weight: $global-weight-bold;
	}
	h1 {
		font-family: $body-font-sans-serif;
		border-bottom: 3px double rgba($white, 0.5);
		padding-bottom: 1rem;
	}
	.button {
		background-color: $yellow;
		border: 3px solid $white;
		color: $oil;
		font-family: $body-font-sans-serif;
		font-weight: $global-weight-bold;
		&:hover {
			background-color: $oil;
		}
	}
	@include breakpoint(large) {
		h1 {
			font-size: 4rem;
			line-height: 1;
			margin-bottom: 1rem;
		}
		h2 {
			font-size: 2.5rem;
			line-height: 1;
		}
		p {
			font-size: 2rem;
		}
	}
}