.no-js {
  @include breakpoint(small only) {
    .top-bar {
      display: none;
    }
  }

  @include breakpoint(medium) {
    .title-bar {
      display: none;
    }
  }
}

.top-bar {
	background: linear-gradient(to left, rgba($blue, 0.85) 10%, rgba($blue, 0.85) 90%), url('/assets/img/audience.jpg') no-repeat center fixed;
	background-size: cover;
	.top-bar-right {
		margin-top: 10px;
	}
	li a {
		font-family: $body-font-sans-serif;
		font-weight: $global-weight-bold;
		&:hover {
			color: $oil;
		}
	}
	li.logo a {
		padding: 0;
	}
	.menu-text {
		padding-left: 0;
	}
	.menu a {
		color: $yellow;
		&:hover {
			color: $red;
		}
	}
	.menu .active > a {
		background-color: $white;
		color: $blue;
	}
	.menu-text a {
		color: $white;
		font-size: rem-calc(36);
		margin-right: 0.5rem;
		&:hover {
			color: $yellow;
		}
		@include breakpoint (medium) {

		}
	}
	.alt-text {
		color: $white;
		font-family: $body-font-serif;
		font-style: italic;
		a {
			font-family: $body-font-serif;
			display: inline;
			padding: 0;
			&:hover {
				color: $oil;
			}
		}
	}
	.menu > li > a img {
		max-width: rem-calc(50);
		max-height: rem-calc(50);
		padding: rem-calc(5) rem-calc(10);
		transition: 0.2s linear all;
		margin-right: 0;
		&:hover {
			background-color: $oil;
		}
	}
	ul.vertical li {
		padding: 1rem;
		@include breakpoint (medium) {
			padding: 0;
		}
	}
}

.title-bar-title a {
	color: $yellow;
}